.gra-content-wrapper {
  position: relative;
  height: 100%;
  .gra-content-main-wrapper {
    .gra-content-main-container {
      display: inline-block;
      width: 100%;
      height: 100%;
      vertical-align: top;
    }
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(232, 232, 232);
  }
}

.hidden {
  display: none !important;
}