.gra-content-voice-editor {
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: top;
  .gra-content-voice-left-wrapper,
  .gra-content-voice-right-wrapper {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
  }
  .gra-content-voice-left-wrapper {
    width: 15%;
    height: 100%;
    overflow: hidden;
    padding: 6px;
    .gra-content-voice-left-header {
      padding: 6px;
      font-style: '微软雅黑';
      font-size: 14px;
      font-weight: 700;
    }
    .gra-content-btn-wrapper {
      width: 100%;
      .btn {
        display: inline-block;
        height: 20px;
        font-size: 14px;
        padding: 0 6px;
        margin: 4px;
        color: #fff;
        cursor: pointer;
        line-height: 20px;
        vertical-align: top;
        border-radius: 6px;
        &.btn-default {
          background-color: #44a8f2;
          &:hover {
            background-color: #43c8f2;
          }
        }
        &.btn-danger {
          background-color: #fa3140;
          &:hover {
            background-color: #ea3140;
          }
        }
      }
    }
    .gra-content-voice-list {
      width: 100%;
      padding: 12px;
      .gra-content-voice-item {
        .gra-content-voice-item-content {
          display: inline-block;
          position: relative;
          height: 32px;
          cursor: pointer;
          line-height: 32px;
          overflow: hidden;
          // text-align: center;
          white-space: nowrap;
          text-overflow: ellipsis;
          &:hover,
          &.active {
            &::after,
            &::before {
              opacity: 1;
              width: 50%;
            }
          }
          &::before {
            content: '';
            position: absolute;
            display: inline-block;
            opacity: 0;
            right: 50%;
            bottom: 0;
            width: 0;
            height: 2px;
            transition: all .5s;
            background-color: #43c8f2;
          }
          &::after {
            content: '';
            position: absolute;
            display: inline-block;
            opacity: 0;
            left: 50%;
            bottom: 0;
            width: 0;
            height: 2px;
            transition: all .5s;
            background-color: #43c8f2;
          }
        }
      }
    }
  }
  .gra-content-voice-right-wrapper {
    width: 85%;
    height: 100%;
    padding: 12px;
    .gra-content-voice-right-content {
      width: 100%;
      height: 100%;
      background-color: #d2d2d2;
      .gra-content-voice-item-wrapper {
        padding: 32px;
        .gra-content-voice-item-title {
          color: #666;
          font-size: 24px;
          font-weight: 700;
        }
        .process-wrapper {
          position: relative;
          width: 60%;
          margin: 24px 0;
          height: 10px;
          cursor: pointer;
          line-height: 10px;
          .process-all {
            position: absolute;
            width: 100%;
            height: 10px;
            line-height: 10px;
            background-color: #000;
          }
          .process-current {
            position: absolute;
            width: 0%;
            height: 10px;
            line-height: 10px;
            background-color: #ccc;
          }
        }
        .gra-content-voice-item-time {
          position: relative;
          width: 60%;
          margin: 24px 0;
          height: 10px;
          cursor: pointer;
          line-height: 10px;
          .gra-content-voice-time {
            float: right;

          }
        }
        .gra-content-voice-control-wrapper {
          text-align: center;
          width: 60%;
          .btn {
            display: inline-block;
            padding: 12px 24px;
            font-size: 16px;
            font-weight: 500;
            color: #fff;
            border-radius: 6px;
            background-color: #999;
            &:hover {
              background-color: #AAA;
            }
          }
        }
      }
    }
  }
}