.gra-menu-bar {
  display: inline-block;
  vertical-align: top;
  height: 40px;
  .gra-menu-item {
    display: inline-block;
    position: relative;
    line-height: 40px;
    height: 40px;
    padding: 0 16px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    box-sizing: border-box;
    vertical-align: top;
    &:hover {
      color: rgb(187, 137, 69);
      background-color: rgba(0, 0, 0, .2);
    }
    &.active {
      color: rgb(187, 137, 69);
      background-color: rgba(0, 0, 0, .2);
    }
    .gra-icon-xia {
      display: inline-block;
      font-size: 10px;
      transform: translate3d(0, -1px, 0) scale(.8);
    }
  }
}